.slide-right-enter-active {
  transition: all .5s ease;
}

.slide-right-leave-active {
  transition: all .5s ease;
}

.slide-right-leave-to {
  transform: translateX(150%);
}

.slide-left-enter-active {
  transition: all .5s ease;
}

.slide-left-leave-active {
  transition: all .5s ease;
}

.slide-left-leave-to {
  transform: translateX(-150%);
}
