<template>
  <transition
    :name="animationName">
    <div
      v-show="answer === null"
      :style="{ transform: transformString}"
      v-touch:swipe.right="swipeRightHandler"
      v-touch:swipe.left="swipeLeftHandler"
      v-touch:moving="movingHandler"
      v-touch:start="startHandler"
      v-touch:end="endHandler">
      <md-card
        md-with-hover>
        <md-ripple>
          <md-card-header>
            <div class="md-title">{{title}}</div>
            <div class="md-subhead">{{subhead}}</div>
          </md-card-header>

          <md-card-content>
            {{label}}
          </md-card-content>

        </md-ripple>
      </md-card>
    </div>
  </transition>
</template>

<script>

export default {
  name: 'Card',
  components: {},
  props: {
    label: String,
    title: String,
    subhead: String,
    id: [String, Number],
  },
  watch: {
    id: function watcher(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.swipeDirection = null;
        this.answer = null;
      }
    },
  },
  computed: {
    transformString() {
      if (this.drag) {
        const { x, y } = this.interactPosition;
        return `translate(${x}px, ${y}px)`;
      }
      return null;
    },
    animationName() {
      return this.swipeDirection ? `slide-${this.swipeDirection}` : null;
    },
  },
  methods: {
    movingHandler(event) {
      if (event.changedTouches[0]) {
        this.interactPosition.x = event.changedTouches[0].screenX - this.startPosition.x;
        this.interactPosition.y = event.changedTouches[0].screenY - this.startPosition.y;
        // if (this.timeOutId) {
        //   clearTimeout(this.timeOutId);
        // }
        // this.timeOutId = setTimeout(this.endHandler.bind(this), 2000);
      }
    },
    startHandler(event) {
      this.drag = true;
      this.startPosition.x = event.changedTouches[0].screenX;
      this.startPosition.y = event.changedTouches[0].screenY;
    },
    endHandler() {
      this.drag = false;
      this.startPosition.x = 0;
      this.startPosition.y = 0;
      this.interactPosition.x = 0;
      this.interactPosition.y = 0;
    },
    emitInput(answer) {
      this.answer = answer;
      setTimeout(() => {
        this.$emit('input', this.answer);
      }, 500);
    },
    swipeRightHandler() {
      this.swipeDirection = 'right';
      this.emitInput(true);
    },
    swipeLeftHandler() {
      this.swipeDirection = 'left';
      this.emitInput(false);
    },
  },
  data() {
    return {
      swipeDirection: null,
      answer: null,
      drag: false,
      timeOutId: null,
      interactPosition: {
        x: 0,
        y: 0,
      },
      startPosition: {
        x: 0,
        y: 0,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
  @import "../../styles/animations/card-swipe";
</style>
