<template>
  <div class="vagon-container">
    <md-field
      class="input-verb">
      <md-input
        type="text"
        v-model="item.Infinitive">
      </md-input>
      <span class="md-error">{{item.InfinitiveAnswer}}</span>
    </md-field>
    <md-field
      class="input-verb">
      <md-input
        type="text"
        v-model="item.Past">
      </md-input>
      <span class="md-error">{{item.PastAnswer}}</span>
    </md-field>
    <md-field
      class="input-verb">
      <md-input
        type="text"
        v-model="item.PastParticiple">
      </md-input>
      <span class="md-error">{{item.PastParticipleAnswer}}</span>
    </md-field>
  </div>
</template>

<script>

export default {
  name: 'vagonVerbs',
  components: {},
  props: {
    item: Object,
  },
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
  .vagon-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-shrink: 0;
    & .input-verb {
      width: 33%;
      position: relative;
      & > input {
        width: 100%;
      }
      &:after {
        width: 80%;
      }
    }
  }
</style>
