<template>
<div
  :style="{ transform: transformString}"
  v-touch:moving="movingHandler"
  v-touch:start="startHandler"
  v-touch:end="endHandler"
  class="draggable-word">
  {{label}}
</div>
</template>

<script>

export default {
  name: 'drag-word',
  components: {},
  props: {
    label: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  computed: {
    transformString() {
      if (this.drag) {
        const { x, y } = this.interactPosition;
        return `translate(${x}px, ${y}px)`;
      }
      return null;
    },
  },
  methods: {
    movingHandler(event) {
      this.interactPosition.x = event.changedTouches[0].screenX - this.startPosition.x;
      this.interactPosition.y = event.changedTouches[0].screenY - this.startPosition.y;
    },
    startHandler(event) {
      this.drag = true;
      this.startPosition.x = event.changedTouches[0].screenX;
      this.startPosition.y = event.changedTouches[0].screenY;
    },
    endHandler() {
      this.$bus.$emit('word-drop', {
        label: this.label,
        id: this.id,
        position: {
          x: event.changedTouches[0].clientX,
          y: event.changedTouches[0].clientY,
        },
      });
      this.drag = false;
      this.startPosition.x = 0;
      this.startPosition.y = 0;
      this.interactPosition.x = 0;
      this.interactPosition.y = 0;
    },
  },
  data: () => ({
    drag: false,
    interactPosition: {
      x: 0,
      y: 0,
    },
    startPosition: {
      x: 0,
      y: 0,
    },
  }),
};
</script>

<style lang="scss" scoped>
  .draggable-word {
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 3px 10px;
    vertical-align: center;
    text-align: center;
    margin-right: 10px;
    flex-shrink: 0;
    height: 2rem;
  }
</style>
