<template>
<div
  class="word-drop-container">
  <div class="label">{{label}}</div>
  <div
    :id="id"
    ref="dropPosition"
    class="drop-place">
    {{selectedWordLabel}}
  </div>
</div>
</template>

<script>

export default {
  name: 'wordWithDropField',
  components: {},
  props: {
    label: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  computed: {
    selectedWordLabel() {
      return this.currentWord && this.currentWord.label ? this.currentWord.label : null;
    },
  },
  methods: {
    handleDrop(event) {
      const boundRect = this.$refs.dropPosition.getBoundingClientRect();
      if (boundRect.top < event.position.y
        && boundRect.bottom > event.position.y
        && boundRect.left < event.position.x
        && boundRect.right > event.position.x) {
        if (this.currentWord) {
          this.$emit('removeLastWord', this.currentWord);
          this.$emit('input', event);
        } else {
          this.$emit('input', event);
        }
        this.currentWord = JSON.parse(JSON.stringify(event));
      }
    },
  },
  data() {
    return {
      currentWord: null,
    };
  },
  mounted() {
    this.$bus.$on('word-drop', this.handleDrop.bind(this));
  },
};
</script>

<style lang="scss" scoped>
  .word-drop-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    align-items: center;

    & .label {
      width: calc(75% - 5px);
      text-align: initial;
    }

    & .drop-place {
      width: 25%;
      border: 1px solid gray;
      height: 1.5rem;
    }
  }
</style>
