<template>
<div>
  home
</div>
</template>

<script>
import SwipeOutToTrue from './excersizes/SwipeOutToTrue';

export default {
  name: 'Home',
  components: {
    SwipeOutToTrue,
  },
  props: {},
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style>

</style>
