<template>
<div>
  lesson
</div>
</template>

<script>

export default {
  name: 'lesson',
  components: {},
  props: {},
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style>
</style>
