<template>
<div
  class="list-exercise-container">
  <md-card
    :key="index"
    v-touch:tap="openExercise.bind(this, card)"
    v-for="(card, index) in exercises"
    class="md-primary" md-theme="black-card">
    <md-card-header>
      <md-card-header-text>
        <div class="md-title">{{card.title}}</div>
        <div class="md-subhead">{{card.desc}}</div>
      </md-card-header-text>
    </md-card-header>
  </md-card>
  <div
    v-if="allReady">
    ты молодец, написал все упражнения
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import DragAndDrop from './excersizes/DragAndDrop';
import SwipeOutToTrue from './excersizes/SwipeOutToTrue';
import IrregularVerbs from './excersizes/IrregularVerbs';
import LearnVerbs from './excersizes/LearnVerbs';
import LearnWords from './excersizes/LearnWords';

export default {
  name: 'ListExercise',
  components: {
    DragAndDrop,
    SwipeOutToTrue,
    IrregularVerbs,
    LearnVerbs,
    LearnWords,
  },
  props: {},
  computed: {
    exercises() {
      return this.getExercise.filter(item => !item.ready);
    },
    allReady() {
      return this.exercises.length === 0 && this.getExercise.length !== 0;
    },
    ...mapGetters({
      getExercise: 'getExercise',
    }),
  },
  methods: {
    openExercise(card) {
      this.$router.push({
        path: `/${card.type}/${card.id}`,
      });
    },
    ...mapActions({
      availableExercise: 'availableExercise',
    }),
  },
  mounted() {
    this.availableExercise();
  },
  data() {
    return {
    };
  },
};
</script>

<style lang="scss" scoped>
  .list-exercise-container {
    display: flex;
    flex-direction: column;

    & .md-primary {
      margin-bottom: 20px;
    }
  }

</style>
