<template>
  <div class="page-container">
    <md-app md-waterfall md-mode="fixed-last">
      <md-app-toolbar class="md-large md-dense md-primary">
        <div class="md-toolbar-row">
          <div class="md-toolbar-section-start">
            <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
              <md-icon>menu</md-icon>
            </md-button>

            <span class="md-title">{{title}}</span>
          </div>
        </div>

      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible">
        <md-toolbar class="md-transparent" md-elevation="0">Навигация</md-toolbar>

        <md-list>
          <md-list-item v-touch="goTo.bind(this, 'Home')">
            <md-icon>home</md-icon>
            <span class="md-list-item-text">Домашняя страница</span>
          </md-list-item>

          <md-list-item v-touch="goTo.bind(this, 'Exercise')">
            <md-icon>menu</md-icon>
            <span class="md-list-item-text">Мои упражнения</span>
          </md-list-item>

        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view>
        </router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>

export default {
  name: 'MainComponent',
  components: {},
  props: {},
  computed: {
    title() {
      return this.$route.meta.title;
    },
  },
  methods: {
    goTo(name, event) {
      if (event && event.isTrusted) {
        this.menuVisible = false;
        this.$router.push({ name });
      }
    },
  },
  data: () => ({
    menuVisible: false,
  }),
};
</script>

<style lang="scss" scoped>
  .page-container {
    height: 100%;
    width: 100%;
  }
  .md-app {
    height: 100%;
    border: 1px solid rgba(#000, .12);

    & .md-toolbar {
      z-index: 1000;
    }
  }
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
    background-color: white;
  }
</style>
