<template>
<div class="drag-and-drop-container">
  <div
    v-if="!exerciseReady"
    class="drop-container">
    <wordContainer
      :key="index"
      :id="word.id"
      @input="handleDrop(word, $event)"
      @removeLastWord="handleRemoveLastWord($event)"
      :label="word.label"
      v-for="(word, index) in wordColumn">
    </wordContainer>
  </div>
  <div
    v-if="!exerciseReady"
    class="drag-container">
    <dragWord
      :key="index"
      :id="word.id"
      :label="word.label"
      v-for="(word, index) in availableWords">
    </dragWord>
  </div>
  <md-empty-state
    v-if="exerciseReady"
    v-touch:tap="handleEndApplication"
    class="md-primary"
    md-icon="done"
    md-label="Упражнение сделано"
    md-description="Упажнение завершено, для перехода далее нажмите сюда">
  </md-empty-state>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import wordContainer from '../base/dnd/wordWithDropField';
import dragWord from '../base/dnd/drag-word';

export default {
  name: 'DragAndDrop',
  components: {
    wordContainer,
    dragWord,
  },
  props: {
    id: String,
  },
  watch: {
    getDragAndDrop: function watcher(newValue, oldValue) {
      if (newValue[this.id] !== oldValue[this.id]) {
        this.availableWords = JSON.parse(JSON.stringify(newValue[this.id].availableWords));
        this.wordColumn = JSON.parse(JSON.stringify(newValue[this.id].wordColumn));
      }
    },
  },
  computed: {
    exerciseReady() {
      return this.answerColumn.length === this.wordColumn.length && this.wordColumn.length;
    },
    ...mapGetters({
      getDragAndDrop: 'getDragAndDrop',
    }),
  },
  methods: {
    handleEndApplication() {
      this.updateExerciseStatus({
        type: this.$options.name,
        id: this.id,
        answer: this.answerColumn,
      });
      setTimeout(() => this.$router.push({ name: 'Exercise' }), 500);
    },
    handleRemoveLastWord($event) {
      this.availableWords.push($event);
    },
    handleDrop(label, word) {
      this.answerColumn.push({
        label,
        word,
      });
      this.availableWords.splice(this.availableWords.findIndex(({ id }) => id === word.id), 1);
    },
    ...mapActions({
      requestDragAndDrop: 'requestDragAndDrop',
      updateExerciseStatus: 'updateExerciseStatus',
    }),
  },
  data: () => ({
    answerColumn: [],
    wordColumn: [],
    availableWords: [],
  }),
  mounted() {
    this.requestDragAndDrop({
      id: this.id,
    });
  },
};
</script>

<style lang="scss" scoped>
  .drag-and-drop-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;

    & .drop-container {
      display: flex;
      flex-direction: column;
      max-height: calc(100% - 3rem);
      z-index: 1;
    }
    & .drag-container {
      display: flex;
      z-index: 10;
      flex-wrap: wrap;
      height: 3rem;
      padding-bottom: 1rem;
    }
  }
</style>
