<template>
<div class="irregular-verbs-container">
  <div
    v-if="isReady"
    class="word-counter">
    {{correctVerbCount}} из {{verbs.length * 3}}
  </div>
  <md-table
    class="table-irregular-verbs"
    :value="verbs">
    <md-table-row slot="md-table-row" slot-scope="{ item, index }">
      <md-table-cell md-label="Infinitive" md-sort-by="Infinitive">
        <md-field
          :class="{ 'md-invalid': isReady && item.Infinitive.toLowerCase() !== item.InfinitiveAnswer.toLowerCase() }">
          <md-input
            type="text"
            class="input-verb"
            :disabled="item.disabled === 'Infinitive'"
            v-model="item.Infinitive">
          </md-input>
          <span class="md-error">{{item.InfinitiveAnswer}}</span>
        </md-field>
      </md-table-cell>
      <md-table-cell md-label="Past" md-sort-by="Past">
        <md-field
          :class="{ 'md-invalid': isReady && item.Past.toLowerCase() !== item.PastAnswer.toLowerCase() }">
          <md-input
            type="text"
            class="input-verb"
            :disabled="item.disabled === 'Past'"
            v-model="item.Past">
          </md-input>
          <span class="md-error">{{item.PastAnswer}}</span>
        </md-field>
      </md-table-cell>
      <md-table-cell md-label="Past participle" md-sort-by="PastParticiple">
        <md-field
          :class="{ 'md-invalid': isReady && item.PastParticiple.toLowerCase() !== item.PastParticipleAnswer.toLowerCase() }">
          <md-input
            type="text"
            class="input-verb"
            :disabled="item.disabled === 'PastParticiple'"
            v-model="item.PastParticiple">
          </md-input>
          <span class="md-error">{{item.PastParticipleAnswer}}</span>
        </md-field>
      </md-table-cell>
    </md-table-row>
  </md-table>
  <div class="button-container">
    <md-button
      v-if="!isReady"
      :disabled="!fillReady"
      @click="checkVerbs"
      class="md-raised md-primary">Проверить</md-button>
    <md-button
      v-if="isReady"
      @click="finishApplication"
      class="md-raised md-primary">Закончить упражнение</md-button>
  </div>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'irregularVerbs',
  components: {},
  props: {
    id: String,
  },
  watch: {
    getVerbs: function watcher(newValue, oldValue) {
      if (newValue[this.id] !== oldValue[this.id]) {
        this.verbs = JSON.parse(JSON.stringify(newValue[this.id].verbs));
      }
    },
  },
  computed: {
    fillReady() {
      return this.verbs.length && this.verbs.every(item => item.Infinitive && item.Past && item.PastParticiple);
    },
    ...mapGetters({
      getVerbs: 'getVerbs',
    }),
  },
  methods: {
    finishApplication() {
      this.updateExerciseStatus({
        type: this.$options.name,
        id: this.id,
        answer: JSON.parse(JSON.stringify(this.verbs)),
      });
      setTimeout(() => this.$router.push({ name: 'Exercise' }), 500);
    },
    checkVerbs() {
      this.isReady = true;
      this.correctVerbCount = this.verbs.reduce((acc, item) => acc
          + (item.Infinitive === item.InfinitiveAnswer ? 1 : 0)
          + (item.Past === item.PastAnswer ? 1 : 0)
          + (item.PastParticiple === item.PastParticipleAnswer ? 1 : 0), 0);
    },
    ...mapActions({
      updateExerciseStatus: 'updateExerciseStatus',
      requestVerbs: 'requestVerbs',
    }),
  },
  data() {
    return {
      correctVerbCount: 0,
      isReady: false,
      verbs: [],
    };
  },
  mounted() {
    this.requestVerbs({
      id: this.id,
    });
  },
};
</script>

<style lang="scss">
  .irregular-verbs-container {
    position: relative;
    padding-bottom: 0;

    & .word-counter {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .table-irregular-verbs {
      max-height: calc(100% - 2rem);
      & .md-content {
        width: 100%;
        & .md-table-head-container {
          text-align: center;
          & .md-table-head-label {
          }
        }

        & .md-table-cell-container {
          padding: 0.5rem 1rem;
          & .input-verb {
            width: 5rem;
            padding: 0.2rem;
            border-radius: 0.05rem;
          }
        }
      }
    }
    & .button-container {
      position: sticky;
      bottom: 0;
      background: white;
      z-index: 1;
      border-top: 1px solid gray;
      padding: 0.5rem;
    }
  }
</style>
