<template>
<div class="irregular-verbs-container">
  <div
    class="word-counter">
    {{currentVerb + 1}} из {{verbs.length}}
  </div>
  <transition-group
    tag="div"
    class="train-container"
    name="fade">
    <vagon
      :item="verb"
      :key="index"
      v-for="(verb, index) in verbs"
      v-show="currentVerb === index">
    </vagon>
  </transition-group>
  <div class="button-container">
    <md-button
      @click="nextVerb"
      class="md-raised md-primary">Далее</md-button>
  </div>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import vagon from '../base/vagonVerbs';

export default {
  name: 'irregularVerbsTrain',
  components: {
    vagon,
  },
  props: {
    id: String,
  },
  watch: {
    getVerbsTrain: function watcher(newValue, oldValue) {
      if (newValue[this.id] !== oldValue[this.id]) {
        this.verbs = JSON.parse(JSON.stringify(newValue[this.id].verbs)).map(item => ({
          ...item,
          countError: 0,
        }));
      }
    },
  },
  computed: {
    ...mapGetters({
      getVerbsTrain: 'getVerbsTrain',
    }),
  },
  methods: {
    nextVerb() {
      if (this.currentVerb !== this.verbs.length - 1) {
        this.currentVerb += 1;
      }
    },
    finishApplication() {
      this.updateExerciseStatus({
        type: this.$options.name,
        id: this.id,
        answer: JSON.parse(JSON.stringify(this.verbs)),
      });
      setTimeout(() => this.$router.push({ name: 'Exercise' }), 500);
    },
    checkVerbs() {
      this.isReady = true;
      this.correctVerbCount = this.verbs.reduce((acc, item) => acc
          + (item.Infinitive === item.InfinitiveAnswer ? 1 : 0)
          + (item.Past === item.PastAnswer ? 1 : 0)
          + (item.PastParticiple === item.PastParticipleAnswer ? 1 : 0), 0);
    },
    ...mapActions({
      updateExerciseStatus: 'updateExerciseStatus',
      requestVerbsTrain: 'requestVerbsTrain',
    }),
  },
  data() {
    return {
      correctVerbCount: 0,
      currentVerb: 0,
      isReady: false,
      verbs: [],
    };
  },
  mounted() {
    this.requestVerbsTrain({
      id: this.id,
    });
  },
};
</script>

<style lang="scss">
  .irregular-verbs-container {
    position: relative;
    padding-bottom: 0;

    & .word-counter {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .train-container {
      display: flex;
      position: relative;
      flex-direction: row-reverse;
      overflow-x: hidden;
    }
    & .button-container {
      position: sticky;
      bottom: 0;
      background: white;
      z-index: 1;
      border-top: 1px solid gray;
      padding: 0.5rem;
    }
  }
  .fade-item {
    margin-right: 10px;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: all 1s;
  }
  .fade-leave-to {
    transform: translateX(100%);
  }
  .fade-enter-to {
    &:not(:first-child) {
      transform: translateX(100%);
    }
  }
  .fade-enter {
    &:first-child {
      transform: translateX(-100%);
    }
  }
</style>
