<template>
<div>
  LearnVerbs
</div>
</template>

<script>

export default {
  name: 'LearnVerbs',
  components: {},
  props: {},
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style>

</style>
