<template>
<div class="learn-words-container">
  <div class="subtitle">
    {{subtitle}}
  </div>
  <div
    v-if="!currentStep"
    class="word-counter">
    {{currentWordIndex + 1}} из {{listWords.length}}
  </div>
  <div
    v-if="currentStep === 2"
    class="word-counter">
    Правильно {{correctRate}} из {{wordsToLearn.length}}
  </div>
  <div
    v-if="!currentStep">
    <Card
      :id="currentWord.id"
      @input="handleCardInput"
      :title="`${currentWord.english} - ${currentWord.russian}`"
      :subhead="'Сдвинь вправо знакомое слово и влево незнакомое'"></Card>
  </div>
  <div
    v-if="currentStep === 1"
    class="learn-word-body">
    <div class="words">
      <md-field>
        <md-input
          type="text"
          class="input-word"
          :disabled="true"
          :value="currentLabelToTranslate">
        </md-input>
      </md-field>
      <md-field>
        <md-input
          type="text"
          class="input-word"
          v-model="translation">
        </md-input>
      </md-field>
    </div>
    <div class="buttons-container">
      <md-button
        @click="saveTranslation"
        class="md-raised md-primary">
        К следующему слову
      </md-button>
    </div>
  </div>
  <div
    v-if="currentStep === 2">
    <md-table
      class="table-irregular-verbs"
      :value="wordsToLearn">
      <md-table-row
        slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Исходное слово" md-sort-by="toTranslate">
          <md-field>
            <md-input
              type="text"
              class="input-word"
              :disabled="true"
              v-model="item.toTranslate">
            </md-input>
          </md-field>
        </md-table-cell>
        <md-table-cell md-label="Перевод" md-sort-by="translation">
          <md-field
            :class="{ 'md-invalid': !item.correct, 'md-helper-text': item.correct }">
            <md-input
              type="text"
              class="input-word"
              :disabled="true"
              v-model="item.translation">
            </md-input>
            <span class="md-error">{{item.answer}}</span>
            <span class="md-helper-text">{{item.answer}}</span>
          </md-field>
        </md-table-cell>
      </md-table-row>
    </md-table>
    <div class="buttons-container">
      <md-button
        v-if="correctRate === wordsToLearn.length"
        @click="endExercise"
        class="md-raised md-primary">
        Закончить упражнение
      </md-button>
      <md-button
        v-if="correctRate !== wordsToLearn.length"
        @click="translateAgain"
        class="md-raised md-primary">
        Сделать ещё раз.
      </md-button>
    </div>
  </div>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Card from '../base/Card';

export default {
  name: 'LearnWords',
  components: {
    Card,
  },
  props: {
    id: String,
  },
  watch: {
    getWords: function watcher(newValue, oldValue) {
      if (newValue[this.id] !== oldValue[this.id]) {
        this.listWords = JSON.parse(JSON.stringify(newValue[this.id].listWords));
      }
    },
  },
  computed: {
    correctRate() {
      return this.wordsToLearn.reduce((acc, word) => acc += word.correct ? 1 : 0, 0);
    },
    currentLabelToTranslate() {
      return this.wordToTranslate.toTranslate;
    },
    currentAnswer() {
      return this.wordToTranslate.answer;
    },
    currentTranslation() {
      return this.wordToTranslate.translation;
    },
    wordToTranslate() {
      return this.wordsToLearn[this.currentWordToTranslateIndex] || {};
    },
    currentWord() {
      return this.listWords[this.currentWordIndex % this.listWords.length];
    },
    subtitle() {
      if (!this.currentStep) {
        return 'Повторяем слова';
      } else if (this.currentStep === 1) {
        return 'Учим слова';
      } else if (this.currentStep === 2) {
        return 'Проверка';
      }
      return 'заголовок по умолчанию';
    },
    ...mapGetters({
      getWords: 'getWords',
    }),
  },
  methods: {
    endExercise() {
      this.updateExerciseStatus({
        type: this.$options.name,
        id: this.id,
        answer: JSON.parse(JSON.stringify(this.wordsToLearn.map(item => ({
          ...item.originalWord,
          count: item.count,
        })))),
      });
      setTimeout(() => this.$router.push({ name: 'Exercise' }), 500);
    },
    shuffle(a) {
      let j;
      let x;
      let i;
      for (i = a.length - 1; i > 0; i -= 1) {
        j = Math.floor(Math.random() * (i + 1));
        x = a[i];
        // eslint-disable-next-line no-param-reassign
        a[i] = a[j];
        // eslint-disable-next-line no-param-reassign
        a[j] = x;
      }
      return a;
    },
    translateAgain() {
      this.shuffle(this.wordsToLearn);
      this.currentWordToTranslateIndex = 0;
      while (this.currentWordToTranslateIndex < this.wordsToLearn.length
      && this.wordsToLearn[this.currentWordToTranslateIndex].correct) {
        this.currentWordToTranslateIndex += 1;
      }
      this.currentStep = 1;
    },
    checkTranslations() {
      this.wordsToLearn = JSON.parse(JSON.stringify(this.wordsToLearn));
      this.currentStep = 2;
    },
    saveTranslation() {
      this.wordsToLearn[this.currentWordToTranslateIndex].translation = this.translation;
      this.wordsToLearn[this.currentWordToTranslateIndex].correct =
        this.translation.toLowerCase() === this.currentAnswer.toLowerCase();
      this.wordsToLearn[this.currentWordToTranslateIndex].count += 1;
      this.wordsToLearn[this.currentWordToTranslateIndex].show =
        this.translation.toLowerCase() !== this.currentAnswer.toLowerCase();
      this.currentWordToTranslateIndex += 1;
      while (this.currentWordToTranslateIndex < this.wordsToLearn.length
        && this.wordsToLearn[this.currentWordToTranslateIndex].correct) {
        this.currentWordToTranslateIndex += 1;
      }
      this.translation = '';
      if (this.currentWordToTranslateIndex === this.wordsToLearn.length) {
        this.checkTranslations();
      }
    },
    handleCardInput() {
      this.currentWordIndex += 1;
      this.wordsToLearn.push({
        originalWord: JSON.parse(JSON.stringify(this.currentWord)),
        toTranslate: this.currentWord.english,
        translation: '',
        answer: this.currentWord.russian,
        show: true,
        count: 0,
      });
      this.wordsToLearn.push({
        originalWord: JSON.parse(JSON.stringify(this.currentWord)),
        toTranslate: this.currentWord.russian,
        translation: '',
        answer: this.currentWord.english,
        show: true,
        count: 0,
      });
      if (this.wordsToLearn.length === 2 * this.listWords.length) {
        this.shuffle(this.wordsToLearn);
        this.currentStep = 1;
      }
    },
    ...mapActions({
      updateExerciseStatus: 'updateExerciseStatus',
      requestWords: 'requestWords',
    }),
  },
  mounted() {
    this.requestWords({
      id: this.id,
    });
  },
  data() {
    return {
      answerArray: [],
      translationList: [],
      translation: '',
      translateFrom: 'russian',
      translateTo: 'english',
      currentStep: 0,
      currentWordIndex: 0,
      currentWordToTranslateIndex: 0,
      wordsToLearn: [],
      listWords: [],
    };
  },
};
</script>

<style lang="scss" scoped>
  .learn-words-container {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    & .title {
      display: flex;
      position: sticky;
    }
    & .subtitle {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      width: 100%;
    }
    & .word-counter {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
    }
    & .learn-word-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      & .words {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        & .input-word {
          width: calc(50% - 0.5rem);
          margin-right: 1rem;
          padding: 0.2rem;
          border-radius: 0.05rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      & .buttons-container {
        display: flex;
        justify-content: center;
      }
    }


    & .table-irregular-verbs {
      max-height: calc(100% - 2rem);
      & .md-content {
        width: 100%;
        & .md-table-head-container {
          text-align: center;
          & .md-table-head-label {
          }
        }

        & .md-table-cell-container {
          padding: 0.5rem 1rem;
          & .input-word {
            width: 6rem;
            margin-right: 1rem;
            padding: 0.2rem;
            border-radius: 0.05rem;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
</style>
