<template>
<div
  class="swipe-container">
  <md-progress-bar
    md-mode="buffer"
    :md-value="amount"
    :md-buffer="buffer"></md-progress-bar>
  <Card
    v-if="!excersiseReady"
    @input="handleCardInput"
    :title="'Правда или нет?'"
    :subhead="'Смахните вправо, если верно, и влево, если неверно'"
    :id="idCurrentQuestion"
    :label="labelCurrentQuestion">
  </Card>
  <md-empty-state
    v-if="excersiseReady"
    v-touch:tap="handleEndApplication"
    class="md-primary"
    md-icon="done"
    md-label="Упражнение сделано"
    md-description="Упажнение завершено, для перехода далее нажмите сюда">
  </md-empty-state>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Card from '../base/Card';

export default {
  name: 'swipe',
  components: {
    Card,
  },
  props: {
    id: String,
  },
  watch: {
    getSwipes: function watcher(newValue, oldValue) {
      if (newValue[this.id] !== oldValue[this.id]) {
        this.questions = JSON.parse(JSON.stringify(newValue[this.id].questions));
      }
    },
  },
  computed: {
    excersiseReady() {
      return this.questions.length === this.answerArray.length && this.answerArray.length;
    },
    labelCurrentQuestion() {
      return this.questions[this.currentQuestion < this.questions.length ? this.currentQuestion : 0].label;
    },
    idCurrentQuestion() {
      return this.questions[this.currentQuestion < this.questions.length ? this.currentQuestion : 0].id;
    },
    amount() {
      return this.bufferSize * this.currentQuestion;
    },
    buffer() {
      return ((1 + this.currentQuestion) / this.questions.length) * 100;
    },
    bufferSize() {
      return (1 / this.questions.length) * 100;
    },
    ...mapGetters({
      getSwipes: 'getSwipes',
    }),
  },
  methods: {
    handleEndApplication() {
      this.updateExerciseStatus({
        type: this.$options.name,
        id: this.id,
        answer: this.questions.map((question, index) => ({
          ...question,
          value: this.answerArray[index],
        })),
      });
      setTimeout(() => this.$router.push({ name: 'Exercise' }), 500);
    },
    handleCardInput($event) {
      this.currentQuestion += 1;
      this.answerArray.push($event);
    },
    ...mapActions({
      updateExerciseStatus: 'updateExerciseStatus',
      requestSwipes: 'requestSwipes',
    }),
  },
  mounted() {
    this.requestSwipes({
      id: this.id,
    });
  },
  data: () => ({
    answerArray: [],
    questions: [],
    currentQuestion: 0,
  }),
};
</script>

<style lang="scss" scoped>
  .swipe-container {
    display: flex;
    flex-direction: column;
  }
  .md-progress-bar {
    margin: 24px;
  }
  .md-empty-state {
    display: inline-block;
    vertical-align: middle;

    + .md-empty-state {
      margin-left: 16px;
    }
  }
</style>
