<template>
<div class="youtube-select-container">
  <div
    v-if="urlVideo" >
    <iframe
      width="100%" height="40%" :src="urlVideo">
    </iframe>
  </div>
  <div class="question-answer-container">
    <div class="subtitle">
      Выберите правильное утверждение
    </div>
    <div
      :key="index"
      v-for="(q, index) in questions"
      class="radio-button-container">
      <div class="label-answer">
        <div class="label">{{q.label}}
        </div>
        <div
          v-if="isReady"
          class="answer">Ответ: <font :style="{color: q.answer === q.value ? 'blue' : 'red' }">{{q.answer}}</font>
        </div>
      </div>
      <div class="options-container">
        <md-radio
          :key="index"
          v-model="q.value"
          :disabled="isReady"
          class="md-primary"
          v-for="(option, index) in q.options"
          :value="option">{{option}}</md-radio>
      </div>
    </div>
    <div class="button-container">
      <md-button
        v-if="!isReady"
        :disabled="!disabledCheck"
        @click="checkVerbs"
        class="md-raised md-primary">Проверить</md-button>
      <md-button
        v-if="isReady"
        @click="finishApplication"
        class="md-raised md-primary">Закончить упражнение</md-button>
    </div>
  </div>
</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'YouTubeAndSelect',
  components: {},
  props: {
    id: String,
  },
  watch: {
    getYoutubeSwipe: function watcher(newValue, oldValue) {
      if (newValue[this.id] !== oldValue[this.id]) {
        this.questions = JSON.parse(JSON.stringify(newValue[this.id].questions));
      }
    },
  },
  computed: {
    urlVideo() {
      return this.getYoutubeSwipe && this.getYoutubeSwipe[this.id] && this.getYoutubeSwipe[this.id].urlVideo
        ? this.getYoutubeSwipe[this.id].urlVideo : null;
    },
    disabledCheck() {
      return this.questions.every(item => !!item.value);
    },
    ...mapGetters({
      getYoutubeSwipe: 'getYoutubeSwipe',
    }),
  },
  methods: {
    checkVerbs() {
      this.isReady = true;
    },
    finishApplication() {
      this.updateExerciseStatus({
        type: this.$options.name,
        id: this.id,
        answer: JSON.parse(JSON.stringify(this.questions)),
      });
      setTimeout(() => this.$router.push({ name: 'Exercise' }), 500);
    },
    ...mapActions({
      updateExerciseStatus: 'updateExerciseStatus',
      requestYoutubeAndRadioButton: 'requestYoutubeAndRadioButton',
    }),
  },
  mounted() {
    this.requestYoutubeAndRadioButton({
      id: this.id,
    });
  },
  data() {
    return {
      isReady: false,
      questions: [],
    };
  },
};
</script>

<style lang="scss" scoped>
  .youtube-select-container {
    position: relative;
    overflow: auto;
    & .question-answer-container {
      position: relative;
      & .radio-button-container {
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 1px solid lightgray;
        padding: 10px 0;

        & .label-answer {
          width: calc(50% - 10px);
          margin-right: 20px;
          justify-content: center;
          align-items: center;
          & .label {

          }
          & .answer {
            margin-top: 20px;
          }
        }
        & .options-container {
          width: calc(50% - 10px);
          & .md-radio {
            margin: 10px 16px 10px 0;
          }
        }
      }
      & .button-container {
        position: sticky;
        bottom: 0;
        background: white;
        z-index: 1;
        padding: 0.5rem;
      }
    }
  }
</style>
